body {
    background: black;
}
.screen {
    position: absolute;
    display:flex;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    justify-content: center;
    align-items: center;
}
div {
    background-color: white;
    border-color: red;
    border-style: dotted;
}
.post {
    display:flex;
    flex-direction:column;
}
.post-header {
    display:flex;
    justify-content:space-between;
}
.top-left {
    display:flex;
}
.top-right {
    display:flex;
    align-items:flex-center;
}
.post-icons {
    display:flex;
    justify-content:space-between;    
}
.post-icon-left {
    display:flex;
}
.post-icon-right {
    align-items:flex-end;
}
h1 {
    margin:0;
}
.post-img {
    flex-basis:300px;
    background-image: url(https://placehold.co/250X250);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}